@keyframes pulseBefore {
	0% {
		transform: scale(0);
		opacity: 1;
	}

	33.33% {
		transform: scale(0.3);
		opacity: 0.7;
	}

	100% {
		transform: scale(1);
		opacity: 0;
	}
}

@keyframes pulseAfter {
	0% {
		transform: scale(0.5);
		opacity: 0;
	}

	33.33% {
		transform: scale(0.5);
		opacity: 0;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}